@{
    ViewData["Title"] = "Description";
}
@model Game

<h1 class="Title-Description"><strong>Opponent:</strong> @Model.OppName</h1>
<img src="@Model.OppImage" alt="Image 1" class="opp-image-description" />
<p class="Subtext-Description"><strong>Description:</strong> @Model.OppDescription</p>
<p class="Subtext-Description"><strong>Stats:</strong> @Model.OppStats</p>
