@{
    ViewData["Title"] = "Nancy";
}
@model Game

<h1 class="Title-Description">Opponent: Novice Nancy</h1>
<img src="https://images.chesscomfiles.com/uploads/v1/user/66746066.19a65fbb.200x200o.05bddf716131.png" alt="Image 1" class="opp-image-description" />
<p class="Subtext-Description"><strong>Description:</strong> Nancy is a beginner in coding with a basic understanding of programming concepts and syntax. She is enthusiastic about learning and wants to improve her skills in programming. Natalie is open to new challenges and approaches coding with a growth mindset. She possesses excellent communication and problem-solving abilities and is proactive in seeking out resources and guidance. With her positive attitude and determination, she is well-equipped to make significant progress in her coding journey.</p>
<p class="Subtext-Description"><strong>Stats:</strong> 0% chance of answering a question correctly.</p>

@using (Html.BeginForm("NoviceNancySelected", "Play", FormMethod.Post))
{
    <input type="submit" class="Opp-Button" value="Select Novice Nancy" />
}
