@{
    ViewData["Title"] = "Questions";
}

<div class="text-center">
    <div class="display-4">
        <h1>Questions</h1>
    </div>
    <p>View all questions, even feel free to create, update and delete them!</p>

</div>