




<script>
    function GetClientReport() {
        window.open('/Notes/GetReport', '_blank');
    }

    function GetClientReport1() {
        window.open('/Notes/GetReport1', '_blank');
    }
</script>




<h1 class="Title1">Welcome to Study Notes! </h1>
<p class="Subtext1">The place you can access helpful notes to aid in your studies and better understand the material that is implemented throughout the game.</p>
<p></p>
<p></p>
<p></p>
<p class="subject"><strong>Subject:</strong> C#</p>
<p></p>
<div class="row">

    <div class="col-md-4">
        <img src="https://pic.onlinewebfonts.com/svg/img_534714.png" alt="Image 1" class="opp-image" />
        <p class="instruction-text-subtext2">This is about varaibles. and how we can use them to help us</p>
        <button class="Primary-Button" onclick="GetClientReport()">View Note</</button>
    </div>

    <div class="col-md-4">
        <img src="https://pic.onlinewebfonts.com/svg/img_534714.png" alt="Image 1" class="opp-image" />
        <p class="instruction-text-subtext2">This is about varaibles. and how we can use them to help us</p>
        <button class="Primary-Button" onclick="GetClientReport1()">View Note</</button>
    </div>

    
</div>