@model MultipleChoice
<h1>Create a New Question</h1>
@using (Html.BeginForm("InsertQuestionToDatabase", "MultipleChoice", "Post"))
{
    <input asp-for="QuestionNumber" type="hidden" value="" />

    <label asp-for="Question" class="label-text">Question:</label>
    <input type="text" name="Question" class="form-control" value=" " />

    <label asp-for="AnswerA" class="label-text">Answer A:</label>
    <input type="text" name="AnswerA" class="form-control" value=" " />

    <label asp-for="AnswerB" class="label-text">Answer B:</label>
    <input type="text" name="AnswerB" class="form-control" value=" " />

    <label asp-for="AnswerC" class="label-text">Answer C:</label>
    <input type="text" name="AnswerC" class="form-control" value=" " />

    <label asp-for="AnswerD" class="label-text">Answer D:</label>
    <input type="text" name="AnswerD" class="form-control" value=" " />

    <label asp-for="CorrectAnswer" class="label-text">Correct Answer:</label>
    <input type="text" name="CorrectAnswer" class="form-control" value=" " />

    <label asp-for="CorrectAnswerString" class="label-text">Correct Answer String:</label>
    <input type="text" name="CorrectAnswerString" class="form-control" value=" " />

    <label asp-for="Subject" class="label-text">Subject:</label>
    <input type="text" name="Subject" class="form-control" value=" " />
    <p></p>
    <input type="submit" value="Create Question" class="Primary-Button" />
}