@{
    ViewData["Title"] = "Set Name";
}
@model MultipleChoice
<h1 class="Title-multiplechoice">Let's start learning! But first, I need to know your name!</h1>


@*<form method="post" action="@Url.Action("ChooseOpp", "Play", new { totalQuestionNumber = @Model.TotalQuestionNumber })">
    <label for="userName" class="control-label">Enter Name:</label>
    <input type="text" name="userName" class="form-control" />
    <p></p>
    <input type="submit" value="Submit Name" class="Opp-Button" />
</form>*@
@using (Html.BeginForm("ChooseOpp", "Play", FormMethod.Post))
{
    <label for="userName" class="control-label">Enter win point:</label>
    <input type="text" class="form-control" name="userName" />
    <p></p>
    <input type="hidden" name="totalQuestionNumber" value="@Model.TotalQuestionNumber" />
    <button type="submit" class="Opp-Button">Submit Name</button>

}